services:
  app:
    container_name: url-shorter-app
    build:
      context: .
      dockerfile: ./docker/DockerFile
    ports:
      - "3000:3000"
    depends_on:
      - redis
    environment:
      - NODE_ENV=production
      - REDIS_HOST=redis
      - REDIS_PORT=6379

  redis:
    container_name: url-shorter-redis
    image: redis:6.2-alpine
    ports:
      - "6379:6379"
